/* 

1. Add your custom Css styles below
2. Place the this code in your template: 

 <link href="css/custom.css" rel="stylesheet">

*/
/* 고객센터 css 시작 */
body .body-inner-cs {
	position: relative;
	margin-top: 100px;
}

body .page-title-cs{
	text-align: center;
}

.max-w { max-width: 100% !important; }
.min-h { min-height: 0 !important; }
.icon-alert-circle:hover { color:red !important; }
.d-grid {display:grid; place-items: center;}