@charset "UTF-8";

.error_next_box {
    margin-top: 9px;
    font-size: 12px;
    color: red;    
    display: none;
}

.myicon {
	width: 200px;
}

.icon_point:hover {
	border: 2px solid #13B383;
	border-radius: 7px;
}

.icon_payList:hover {
	border: 2px solid #13B383;
	border-radius: 7px;
}

.icon_info:hover {
	border: 2px solid #13B383;
	border-radius: 7px;
}

.icon_using:hover {
	border: 2px solid #13B383;
	border-radius: 7px;
}

.m-auto {
	margin: 0 auto;
}

.v-m {
	vertical-align: middle;
}

.v-t {
	vertical-align: top;
}