<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="User" type="com.project.dto.User"/>
        <typeAlias alias="Monthly" type="com.project.dto.Monthly"/>
        <typeAlias alias="Credit" type="com.project.dto.Credit"/>
        <typeAlias alias="Card" type="com.project.dto.Card"/>
        <typeAlias alias="MonthlyPayList" type="com.project.dto.MonthlyPayList"/>
        <typeAlias alias="Cs" type="com.project.dto.Cs"/>
        <typeAlias alias="Pickup" type="com.project.dto.Pickup"/>
        <typeAlias alias="Point" type="com.project.dto.Point"/>
    </typeAliases>
</configuration>