<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dao.MemberMapper">
    <insert id="insert" parameterType="User">
        INSERT INTO user_info
            (email, name, password, phone, addr)
        VALUES
            (#{email}, #{name}, #{password}, #{phone}, #{addr})
    </insert>
</mapper>