<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dao.MonthlyMapper">

    <select id="userInfo" parameterType="String" resultType="User">
        SELECT * FROM user_info WHERE email = #{email}
    </select>

    <select id="monthlyInfo" parameterType="String" resultType="Monthly">
        SELECT * FROM monthly_type WHERE m_name = #{name}
    </select>

    <select id="monthlyList" resultType="MonthlyPayList">
        SELECT * FROM monthly_list
    </select>

    <select id="cardInfo" parameterType="String" resultType="Card">
        SELECT * FROM credit_info WHERE email = #{email}
    </select>

    <insert id="paymentInsert" parameterType="monthlyPayList">
        INSERT INTO monthly_list
            (email, m_name, m_price, life_cnt, cleaning_cnt, free_cnt, start_date, end_date, card_num, card_type)
        VALUES
            (#{email}, #{m_name}, #{m_price}, #{life_cnt}, #{cleaning_cnt}, #{free_cnt}, #{start_date}, #{end_date}, #{card_num}, #{card_type})
    </insert>

    <insert id="payListInsert" parameterType="PayList">
        INSERT INTO paylist
        (email, m_name, m_price, pay_date, card_num, card_type, total_price, extra_charge)
        VALUES
            (#{email}, #{m_name}, #{m_price}, #{pay_date}, #{card_num}, #{card_type}, #{total_price}, #{extra_charge} )
    </insert>

    <update id="pointUpdate" parameterType="map">
        UPDATE user_info SET point = #{point} WHERE email = #{email}
    </update>

    <insert id="usePointInsert" parameterType="map">
        INSERT INTO use_point
            (email, m_name, use_point, use_date)
        VALUES
            (#{email}, #{m_name}, #{use_point}, now())
    </insert>

    <update id="monthlyListUpdate" parameterType="map">
        UPDATE monthly_list SET card_type = #{card_type} , card_num = #{card_num} WHERE email = #{email}
    </update>

    <update id="new_monthlyListUpdate" parameterType="map">
        UPDATE  monthly_list
        SET life_cnt = #{life_cnt}, cleaning_cnt = #{cleaning_cnt}, free_cnt = #{free_cnt}, start_date = #{start_date}, end_date = #{end_date}, extra_charge = 0
        WHERE email = #{email}
    </update>

    <delete id="monthlyListDelete" parameterType="String">
        DELETE FROM monthly_list WHERE email = #{email}
    </delete>

</mapper>