<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dao.MonthlyMapper">

    <select id="userInfo" parameterType="String" resultType="User">
        SELECT * FROM user_info WHERE email = #{email}
    </select>

    <select id="monthlyInfo" parameterType="String" resultType="Monthly">
        SELECT * FROM monthly_type WHERE m_name = #{name}
    </select>

    <select id="cardInfo" parameterType="String" resultType="Card">
        SELECT * FROM credit_info WHERE email = #{email}
    </select>

    <insert id="paymentInsert" parameterType="monthlyPayList">
        INSERT INTO monthly_list
            (email, m_name, m_price, life_cnt, cleaning_cnt, free_cnt, start_date, end_date, card_num, card_type)
        VALUES
            (#{email}, #{m_name}, #{m_price}, #{life_cnt}, #{cleaning_cnt}, #{free_cnt}, #{start_date}, #{end_date}, #{card_num}, #{card_type})
    </insert>

    <update id="pointUpdate" parameterType="map">
        UPDATE user_info SET point = #{point} WHERE email = #{email}
    </update>

    <insert id="usePointInsert" parameterType="map">
        INSERT INTO use_point
            (email, m_name, use_point, use_date)
        VALUES
            (#{email}, #{m_name}, #{use_point}, now())
    </insert>

</mapper>