<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dao.pickupMapper">

    <insert id="pickupInsert" parameterType="map">
        INSERT INTO pickup
            (email, p_addr, p_life, p_cleaning, p_free)
        VALUES
            (#{email}, #{p_addr}, #{p_life}, #{p_cleaning}, #{p_free})
    </insert>

    <select id="monthlyList" parameterType="String" resultType="MonthlyPayList">
        SELECT * FROM monthly_list WHERE email = #{email}
    </select>

    <update id="cntUpdate" parameterType="map">
        UPDATE monthly_list SET life_cnt = #{life_cnt}, cleaning_cnt = #{cleaning_cnt}, free_cnt = #{free_cnt}, extra_charge = #{extra_charge} WHERE email = #{email}
    </update>

    <select id="pickupList" parameterType="String" resultType="map">
        SELECT * from pickup where email = #{email}
    </select>
</mapper>